@import "./fonts.scss";
@import './colors.scss';

.buttons {
  display: flex;
  justify-content: space-between;
}

button {
  margin-top: 5px;
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 8px;
  font-family: "Nuosu";
  font-size: 18px;
  color: #212121;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.4);
}

button:hover {
  background-color: #40E0D0;
  opacity: 0.9;
  color: $white;
  transition: all .1s;
}

.hidden-button {
  background-color: #40E0D0;
  color: $white;
}

.disabled-button {
  // background-color: none;
  opacity: 0.2;
  pointer-events: none;
}