#emissions-section {
  width: 50%;
}

.emissions-section {
  display: flex;
}

.emissions-description {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
}

.emissions-display {
  display: flex;
  align-items: center;
}

#emissions-year {
  font-size: 30px;
  padding-left: 20px;
  width: 25%;
}

#animate-emissions {
  margin-bottom: 10px;
}

.reset-link {
  font-size: 20px;
  text-align: center;
  margin-left: 10px;

  &:hover {
    color: #40E0D0;
    cursor: pointer;
  }
}

canvas {
  margin-right: 10%;
}