.emissions-section {
  width: 50%;
  min-width: 700px;
}

.emissions-description {
  text-align: left;
  margin-bottom: 2px;
  margin-right: 16px;
}

.emissions-display {
  display: inline;
  text-align: center;

  * {
    margin: 2px 6px;
    float: left;
  }

  .speed-range {
    display: flex;
    align-items: center;
    margin-top: 22px;
  }
}

#animate-emissions {
  font-size: 14px;
  cursor: pointer;
  // height: ;  
}

.reset-link {
  font-size: 20px;
  margin-left: 10px;
  margin-top: 22px;

  &:hover {
    color: #000065;
    cursor: pointer;
    opacity: 0.6;
  }
}

#dots {
  margin: 0 8px;
  border: 1px solid green;
  border-top: none;
}

.greenhouse-container {
  display: flex;
  position: relative;
}

.canvas-wrapper {
  position: relative;
}

#line {
  position: absolute;
  width: 100%;
  outline: 1px solid red;
  top: 98%;
}

#live-tonnes {
  position: absolute;
  color: #000065;
  left: 50%;
  top: -16px;
  transform: translate(-50%, 0);
}

#emissions-year {
  position: absolute;
  font-size: 22px;
  right: -8%;
}

#emissions-year-fixed {
  position: absolute;
  font-size: 22px;
  right: -1%;
  bottom: -3.5%;
}

#percent-total {
  position: absolute;
  left: -5%;
}

#percent-total-fixed {
  position: absolute;
  left: -5%;
  bottom: -2.5%;
}

.dropdown {
  margin-bottom: 24px;
}

.errors {
  position: absolute;
  top: 26px;
  right: 10%;
  font-size: 12px;
  color: red;
}