.emissions-section {
  width: 50%;
  min-width: 700px;
}

.emissions-header {
  margin-left: 140px;
}

.emissions-description {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
}

.emissions-display {
  display: flex;
  align-items: center;
}

#emissions-year {
  font-size: 30px;
  padding-left: 20px;
  width: 25%;
}

#animate-emissions {
  margin-bottom: 10px;
}

.reset-link {
  font-size: 20px;
  text-align: center;
  margin-left: 10px;

  &:hover {
    color: #40E0D0;
    cursor: pointer;
  }
}

#dots {
  margin: 0 8px;
  border: 1px solid green;
  border-top: none;
}

.greenhouse-container {
  display: flex;
}

.canvas-wrapper {
  position: relative;
}

.tonnes-scale {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 480px;

  .max-min-wrap {
    text-align: right;
  }  
}

#line {
  position: absolute;
  width: 710px;
  height: 0.5px;
  outline: 1px solid red;
  top: 98%;
}