@font-face {
    font-family: "Cormorant-Garamond";
    src: url('../assets/fonts/CormorantGaramond-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Nuosu";
    src: url('../assets/fonts/NuosuSIL-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}