@import './fonts.scss';
@import './colors.scss';

header, body {
	font-family: "Cormorant-Garamond";
	position: relative;
}

.workspace {
	display: flex;
	justify-content: space-around;
}

.geography {
	width: 40%;
	margin-left: 10px;
}

.sub-title {
	text-align: center;
	font-size: 24px;
	color: #212121;
	margin-top: 6px;
	padding-bottom: 5px;
}

h3#pad {
	padding-left: 25px;
}

#map-area, #map-year, #pad {
	padding-top: 5px;
	text-align: center;
}

.hide {
	display: none;
}

