header, body {
	font-family: fantasy;
	background-color: cornsilk;
	min-height: 100%;
}

.workspace {
	display: flex;
}

.subtitles {
	display: flex;
	justify-content: space-around;
	align-items: center;
	font-size: 24px;
	color: #000065;
	font-style: italic;
}

h3#pad {
	padding-left: 25px;
}

.geography {
	width: 50%;
	margin-left: 10px;
}

#map-area, #map-year {
	padding-top: 5px;
	text-align: center;
}



