header {
  background-color: white;
  border-bottom: 2px solid #000065;
  margin-bottom: 10px;
}

.please-work {
  display: flex;
  justify-content: space-between;
}

.icons {
  margin-top: 5px;
  width: 200px;
}

h1 {
  font-size: 3em;
  margin-left: 10px;
  margin-top: 8px;
  color: #000065;
}

#linkedin {
  max-width: 35%;
}

