.modal {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    z-index: 20;
    transition: 0.2s;;
}

.instructions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 800px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 20px solid #E9E5D6;
    background-color: #fff;
    z-index: 10;

    button {
        width: 160px;
        height: 40px;
        font-family: "Cormorant-Garamond";
    }
}

.instructions-sections {
    display: flex;
    justify-content: space-evenly;
}

.arctic, .gas {
    margin: 12px 16px;
    line-height: 1.5;
    width: 50%;

    h2 {
        text-align: center;
        font-size: 20px;
        text-decoration: underline;
        line-height: 1.33;
        // color: ;
    }
}

ul > li {
    display: list-item;
    list-style-type: disc;
    margin: 0 8px;
}

.instruction-list {
    margin-top: 10px;
}

.continue {
    margin-bottom: 12px;
    font-size: 24px;

    &:hover {
        background-color: #000065;
        color: #fff;
        transition: 0.1s;
    }
}

